body, html {
    margin: 0 !important;
    padding: 0 !important;
}

h2 {
    margin-top: 0;
}

tr:focus {
    font-style: italic;
}

.full-screen {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.center-outer {
    position: fixed;
    left: 50%;
}

.center-inner {
    position: relative;
    left: -50%;
}

.App {
    text-align: center;
}
