body, html {
    margin: 0 !important;
    padding: 0 !important;
}

h2 {
    margin-top: 0;
}

table, tr, td {
    height: 100%;
}

tr:focus {
    font-style: italic;
}

.full-screen {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.cell {
    position: relative;
    height: 100%;
}

.compare {
    vertical-align: top;
}

.top {
    position: absolute;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.center-outer {
    position: fixed;
    left: 50%;
}

.center-inner {
    position: relative;
    left: -50%;
}

.App {
    text-align: center;
}
